.red {
    background-color: red !important;
}

.main_bg_color {
    background-color: #627be0;
}

.profile_img_set {
    border-radius: 50%;
}

ul.main_menu {
    padding: 0;
    border-radius: 7px;
}

ul.main_menu > li {
    list-style-type: none;
    text-align: left;
}

ul.main_menu > li > a,
ul.main_menu > li.profile_badge {
    color: #c7cee8;
    display: block;
    padding: 20px 20px;
    transition: color .5s;
}

ul.main_menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
}

ul.main_menu img.profile_img_set {
    max-width: 100%;
    height: auto;
}

ul.main_menu > li.profile_badge {
    border-bottom: 1px solid #fff;
}