.red {
    background-color: red !important;
}

.main_bg_color {
    background-color: #627be0;
}

.profile_img_set {
    border-radius: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.colorize:hover {
    transition: color .5s;
    color: #eaa993 !important;
}

small.help_block_font {
    color: #eaa993;
}

.form_login {
    margin-top: 100px;
    padding: 10px 10px;
    border-radius: 7px;
    border: 2px solid #c7cee8;
}

.form_login,
.form_login a {
    color: #c7cee8;
}

.form_login h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #c7cee8;
}

.form_login i.fas {
    font-size: 1.3em;
}

.form_login .footer {
    font-size: .9em;
}

ul.main_menu {
    padding: 0;
    border-radius: 7px;
}

ul.main_menu > li {
    list-style-type: none;
    text-align: left;
}

ul.main_menu > li > a,
ul.main_menu > li.profile_badge {
    color: #c7cee8;
    display: block;
    padding: 20px 20px;
    transition: color .5s;
}

ul.main_menu > li > a:hover {
    color: #fff;
    border-radius: 7px;
}

ul.main_menu img.profile_img_set {
    max-width: 100%;
    height: auto;
}

ul.main_menu > li.profile_badge {
    border-bottom: 1px solid #fff;
}